html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: LouisGeorgeCafe;
    src: url('src/Louis\ George\ Cafe.ttf');
}

body {
    font-family: LouisGeorgeCafe;
    height: 100%;
    width: 100%;
    background-color: #E8B00C;
}

#head {
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}


nav{
    display: flex;
    width: 100%;
    height: 20%;
    background: #3faf6c;
    align-items: center;
    justify-content: center;
  }
  
  a{
    text-decoration: none;
    color: #f70000;
    margin: 0 40px;
    font-size: 22px;
  }

  .redItem {
    color: #f70000;
    font-size: 30px;
}

  a:hover {
      text-decoration: underline #E8B00C;
  }

  a:visited,active {
    color: #f70000;
  }
  
  #logo{
    width: 250px;
    height: 100%;
  }

  .headingTint {
      width: 100%;
      height: 5px;
      background-color: #f70000;
  }


  #foot {
    background: #3faf6c;
    width: 100%;
    height: 75px;
  }


  #gamesloc {
      color: white;
      text-align: center;
      padding-bottom: 20px;
  }

  #contactloc {
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

#intro{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

  #main {
      padding-top:  20px;
  }

  #contactform {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 30px;
  }

  label {
      margin-top: 10px;
      color: white;
  }

  .cardconf {
      width: 40%;
      display: inline-block;
  }

  .twoset{
      width: 60%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 50px;
      text-align: center;
  }

  .rightgame{
      margin-left: 50px;
  }
  


  #copy {
      text-align: center;
      margin-top: 25px;
  }

  .text {
      color: white;
      text-align: center;
  }

  #about{
      margin-right: auto;
      margin-left: auto; 
     width: 30%;
  }









  .fa {
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


  .fa-twitter {
    background: #55ACEE;
    color: white;
}

#twitter{
    float: left;
}